@tailwind base;
@tailwind components;
@tailwind utilities;

.kyc_logo {
  animation: Bounce 5s linear infinite;
}
@keyframes Bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(-20px);
  }
}

.about_animation {
  position: relative;
  width: fit-content;
}
.about_animation::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  right: -5%;
  background-color: white;
  animation: motion 5s linear infinite;
}
@keyframes motion {
  0%,
  100% {
    right: 0%;
  }
  50% {
    right: -110%;
  }
}

.underline {
  position: relative;
}
.underline::after {
  content: " ";
  position: absolute;
  height: 0.15rem;
  width: 0;
  top: 100%;
  left: 0;
  transition: all 0.3s linear;
  background-color: #957f56;
}
.underline:hover::after {
  width: 100%;
}
