@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "poppinsSemibold";
    src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsBold";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsMedium";
    src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsRegular";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsExtraLight";
    src: url("./assets/fonts/ExtraLight.ttf") format("truetype");
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 5px gray;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-lg {
    text-shadow: -6px -8px 5px rgba(0, 0, 0, 0.7);
  }
  .clip-circle {
    clip-path: circle(50%);
  }
  .clip-polygon {
    clip-path: polygon(100% 0, 100% 80%, 49% 99%, 0 80%, 0 0);
  }
  .clip-ellipse {
    clip-path: ellipse(50% 30% at 50% 50%);
  }
  .clip-secondPolygon {
    clip-path: polygon(50% 0, 100% 30%, 100% 100%, 0 100%, 0 30%);
  }
}
.kyc_logo {
  animation: Bounce 5s linear infinite;
}
@keyframes Bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(-20px);
  }
}

.about_animation {
  position: relative;
  width: fit-content;
}
.about_animation::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  right: -5%;
  background-color: white;
  animation: motion 5s linear infinite;
}
@keyframes motion {
  0%,
  100% {
    right: 0%;
  }
  50% {
    right: -110%;
  }
}

.underline {
  position: relative;
}
.underline::after {
  content: " ";
  position: absolute;
  height: 0.15rem;
  width: 0;
  top: 100%;
  left: 0;
  transition: all 0.3s linear;
  background-color: #957f56;
}
.underline:hover::after {
  width: 100%;
}

.upToDown {
  position: absolute;
  z-index: 10;
  top: 0;
  /* transition: all 0.5s linear; */
  animation: upDown 0.5s linear;
}
@keyframes upDown {
  0% {
    top: -2rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
